footer{
    display: flex;
    flex-direction: column;
    padding: 15px;
    font-weight: bold;
    background-color: rgb(48, 48, 48);
    color: white;
}

.footer__logo{
    width: 100px;
    padding: 10px;
    padding-left: 0;
    color: white;
}

.footer__text{
    display: flex;
    padding: 5px;
    padding-left: 0;
}

span{
    display: block;
}

.fa_footer{
    padding-right: 10px;
    width: 15px;
    /*font-size: 10px;*/
}