.header__div_1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.14);
}

.header__logo{
    width: 150px;
}

.header__div_2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 10px;
    background-color: rgb(228, 228, 228);
}

.header__div_2__text{
    padding-left: 10px;
}