 /* --- All --- */

main{
    max-width: 1000px;
    margin: auto;
}

.main__title{
    font-weight: bold;
    font-size: 18px;
}

.text_align_center{
    text-align: center;
}

 /* --- Location --- */

.main__location{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 10px;
    background-color: rgb(228, 228, 228);

    .main__location__text{
        padding-left: 10px;
    }
}

 /* --- Reservez --- */

.main__Reservez{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: $grey;

    .main__Réservez__text{
        font-size: 15px;
        padding: 10px;
        padding-bottom: 20px;
    }
}

 /* --- Fonctionnement --- */

.main__Fonctionnement{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding: 15px;
    padding-top: 30px;
    padding-bottom: 30px;

    .main__Fonctionnement__cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    }
}



 /* --- Restaurants --- */

.main__Restaurants{
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $grey;

    .main__Restaurants__cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;   
    }
}

