.main__location{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 10px;
    background-color: rgb(228, 228, 228);
}

.main__location__text{
    padding-left: 10px;
}