.main__location{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 10px;
    background-color: rgb(228, 228, 228);
}

.main__location__text{
    padding-left: 10px;
}

.main__Réservez{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 10px;
    background-color: rgb(238, 238, 238);
}

.main__Fonctionnement{
    display: flex;
    font-weight: bold;
    padding: 10px;
}

.main__Restaurants{
    display: flex;
    font-weight: bold;
    padding: 10px;
    background-color: rgb(238, 238, 238);
}
