.resto_header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.resto_header__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Shrikhand', cursive;
    font-size: 25px;
}

.fa-arrow-left{
    position: absolute;
    left: 15px;
    top: 5px;
    padding: 10px;
}