 /* --- All --- */

 main{
    max-width: 1000px;
    margin: auto;
}

.main__title{
    font-weight: bold;
    font-size: 18px;
}

.text_align_center{
    text-align: center;
}


 /* --- main image --- */

.resto_main_image{
    width: 100%;
}

.resto_main_image img{
    width: 100%;
}

 /* --- main texte --- */
 /* --- main resto title --- */



 /* --- main type plat title --- */



  /* --- main card plat --- */
