.resto_header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.resto_header__logo{
    width: 150px;
}

.fa-arrow-left{
    position: absolute;
    left: 15px;
    top: 15px;
}