 /* --- All --- */

main{
    max-width: 1000px;
    margin: auto;
}

.main__title{
    font-weight: bold;
    font-size: 18px;
}

.main__bold{
    font-weight: bold;
}

.text_align_center{
    text-align: center;
}

.font_Shrikhand{
    font-family: 'Shrikhand', cursive;
}

 /* --- main image --- */

.resto_main_image{
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    position: relative;
}

.resto_main_image img{
    width: 100%;
}

 /* --- main div radius --- */
.resto_div_radius{
    height: 50px;
    width: 100%;
    background-color: $grey;
    position: absolute;
    bottom: 0px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    z-index: 1;
}

 /* --- main text --- */

.resto_main_text{
    padding: 15px;
    padding-top: 0;
    background-color: $grey;

     /* --- main resto title --- */

    .resto_main_title{
        display: flex;
        justify-content: space-between;
        padding-top: 0px;
        padding-bottom: 25px;
        padding-right: 15px;
        font-size: 25px;
    }
}

 /* --- main type plat cards --- */
.resto_type_menu_cards{
    margin-bottom: 40px;

    /* --- main type plat title --- */

    .resto_main_type_plat_title{
        padding: 10px;
        padding-left: 0;
        padding-bottom: 5px;
    }

    .resto_barre{
        width: 40px;
        height: 2px;
        background-color: $blue-color;
        margin-bottom: 15px;
    }
}


 /* --- main card plat animation/delay--- */

@for $i from 1 to 11{
.resto_main_card_plat_#{$i} {
    animation-name: slidedown;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: #{$i * 0.2s};
    }
}

 /* --- main div button --- */

 .resto_main_div_button{
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

/* --- div-checkbox --- */

.div_check {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blue-color;
    color: white;
    height: 100%;
    width: 50px;
    position: absolute;
    top: 0;
    right: -50px;
    transition: 0.3s;
}

input:checked + .label_check .div_check {
    right: 0;
}

input:checked + .label_check {
    .resto_main_card_plat__price{
        margin-right: 50px;
    }    
}

/* --- div-checkbox_i_rotate --- */
.fa-circle-check{
    font-size: 20px;
    
}

input:checked + .label_check .fa-circle-check {
    transition: 0.5s;
    transform: rotate(360deg);
}