header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
}

.resto_header__logo{
    width: 150px;
}

.fa-arrow-left{
    position: absolute;
    left: 15px;
    top: 15px;
}