/* Error: Expected identifier.
 *     ,
 * 100 |     .resto_main_card_plat_#{$1}{
 *     |                              ^
 *     '
 *   sass\layout\restaurants_main.scss 100:30  @import
 *   sass\pages\restaurants.scss 2:9           @import
 *   sass\globale.scss 8:9                     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected identifier.\a     \2577 \a 100 \2502      .resto_main_card_plat_#{$1}{\d\a     \2502                               ^\a     \2575 \a   sass\\layout\\restaurants_main.scss 100:30  @import\a   sass\\pages\\restaurants.scss 2:9           @import\a   sass\\globale.scss 8:9                     root stylesheet";
}
