.fa-heart{
    font-size: 20px;
    position: relative;
}

.fa-color{
    position: absolute;
    left: 0;
    top: 0;
    color: red;
    animation-name: slidedown;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}

/* --- div-checkbox --- */

input:checked + .label_check .fa-color{
    transition: 2s;
    display: none;
}
