@keyframes slidedown{
    from{
        transform: translateY(20px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes heart{
    from{
        transform-origin: 0% 50%;
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
        background-color: red;
        
    }
}