@keyframes slidedown{
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
 ////
@keyframes heart{
    from{
        transform-origin: 0% 50%;
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
        background-color: red;
    }
}
////

@keyframes loading{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg); 
    }
}

@keyframes spinner-cont{
    to{
        position: relative;
        display: flex;
    }
}