 /* --- Restaurants --- */

$purple-color: #9356DC;
$pink-color: #FF79DA;
$blue-color: #99E2D0;
$green-color: #008060;
$degrade-color: linear-gradient(170deg, #ff79da, #f071da, #e06adb, #cf64dc, #bd5fdc, #a95adc, #9356dc);
$opacity-purple-color: #9256dc21;
$degrade-blue: linear-gradient(90deg, #1f555c, #0f6d70, #008580, #009e8b, #1bb792, #43cf94, #6be892, #96ff8c);
$grey:rgb(245, 245, 245); 